.AboutMe {
    padding-top: 1vh;
    /* border: solid 3px red; */
}
.ResumeBox {
    /* border: solid 3px green; */
    padding: 10px;
}

.ResumeBoxDesc li{
    /* color:purple; */
    font-size: 0.8rem;
    list-style-type: circle;
    margin-left: 2%;
}
.ResumeBox:hover {
    transform: translate(3px, -3px);
    /* border: solid 3px white; */
    color: var(--color-primary-variant);
    transition: 0.3s ease-in-out;
}