.her {
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}

.her_container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    top: -10%;
    
}

.logoImage {
    width: 130px;
    height: 50px;
    margin-top: 1px;
    margin-left: 5%;
    position: relative;
    opacity: 0.75;
}
/*-----------social media icons----------------*/
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    top: 12rem;
    padding: 0.5rem; 
}

.socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color:var(--color-primary);
    
}


/*-----------my pic----------------*/
.her_pic {
    display: flex;
    /* background: linear-gradient(200deg, var(--color-bg), #ffffff); */
    width: 300px;
    position: absolute;
    /* position: relative; */
    left: calc(75% - 150px);
    margin-top: 10%;
    opacity: 70%;
    /* object-fit: contain; */
    border-radius: 50px;
    /* overflow: hidden; */
}

/*-----------my name----------------*/
h4 {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
    /* margin-left: 20%; */
    /* top: 20%; */
}

h2 {

    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    /* margin-left: 20%; */
/* }

.her_role{    */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.her_role {
    color: var(--color-primary-variant);
}

.text_div {
    width: 100%;
    margin-top: 25%;
    margin-left: 10%;
    /* height:500px; */
    /* width:600px; */
    /* margin-top: 200px; */
    float:left;
    position: absolute;
}

.home_hovertext {
    position: relative;
  }
  
.home_hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    color: var(--color-primary-variant);
    text-align: right;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 30px;
    top: -1%;
    font-size: 12px;
  }
  
.home_hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }


/*----------for iPad---------*/
@media (max-width: 1024px) {
    /* .her_container {
        flex-direction: column;
    } */

    .her_container {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5%;
    }

    h2 {
        flex-direction: column;
    }
}


/*----------for phone---------*/
@media (max-width: 600px) {
    .socials {
        display: none;
    }
    .her_container {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        /* margin-top: 5%; */
    }

    .her_pic {
        width: 100%;
        height: auto;
        margin-top: 10%;
        margin-left: 0;
        left: 0;
        top: 0;
    }

    .text_div {
        width: 100%;
        height: auto;
        /* margin-left: 20px; */
    }
}